/* line 9, ../sass/_colors.scss */
.white_color {
  color: #ffffff;
}

/* line 13, ../sass/_colors.scss */
.dark_color {
  color: #22292E;
}

@font-face {
  font-family: 'fira_sansbold';
  src: url("../font/firasans-bold-webfont.woff2") format("woff2"), url("../font/firasans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fira_sansmedium';
  src: url("../font/firasans-medium-webfont.woff2") format("woff2"), url("../font/firasans-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* line 18, ../sass/_main.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 23, ../sass/_main.scss */
body {
  background-color: #ECECEC;
  max-width: 100vw;
  overflow-x: hidden;
  color: #22292E;
}

/* line 30, ../sass/_main.scss */
p {
  font-size: 0.8rem;
  font-family: Avenir;
}

/* line 35, ../sass/_main.scss */
h1 {
  font-family: 'fira_sansbold';
  color: white;
  font-size: 2.5rem;
}

/* line 41, ../sass/_main.scss */
h2 {
  font-family: 'fira_sansmedium';
  color: #22292E;
  font-size: 1.1em;
}

/* line 47, ../sass/_main.scss */
h3 {
  font-family: 'fira_sansmedium';
  color: #22292E;
  font-size: 2em;
}

/* line 53, ../sass/_main.scss */
button {
  cursor: pointer;
}

/* line 57, ../sass/_main.scss */
.section {
  margin: 15vh 0;
}

/* line 61, ../sass/_main.scss */
.marge {
  margin-left: 5%;
  margin-right: 5%;
}

/* line 66, ../sass/_main.scss */
.relative {
  position: relative;
}

/**** Displays ****/
/* line 74, ../sass/_main.scss */
.row {
  display: flex;
  flex-direction: row;
}

/* line 79, ../sass/_main.scss */
.column {
  display: flex;
  flex-direction: column;
}

/* line 84, ../sass/_main.scss */
.align-center {
  align-items: center;
}

/* line 88, ../sass/_main.scss */
.align-end {
  align-items: flex-end;
}

/* line 92, ../sass/_main.scss */
.justify-center {
  justify-content: center;
}

/* line 96, ../sass/_main.scss */
.space_around {
  justify-content: space-around;
}

/* line 100, ../sass/_main.scss */
.space_between {
  justify-content: space-between;
}

/* line 104, ../sass/_main.scss */
.flex-end {
  justify-content: flex-end;
}

/**** Margin ****/
/* line 109, ../sass/_main.scss */
.mb70 {
  margin-bottom: 70px;
}

/* line 113, ../sass/_main.scss */
.mb30 {
  margin-bottom: 30px;
}

/* line 117, ../sass/_main.scss */
.mb40 {
  margin-bottom: 40px;
}

/* line 121, ../sass/_main.scss */
.mt10 {
  margin-top: 10px;
}

/* line 125, ../sass/_main.scss */
.mt20 {
  margin-top: 20px;
}

/**** Padding ***/
/* line 131, ../sass/_main.scss */
.p20 {
  padding: 20px;
}

@media screen and (max-width: 480px) {
  /* line 138, ../sass/_main.scss */
  .m_row {
    display: flex;
    flex-direction: row;
  }

  /* line 143, ../sass/_main.scss */
  .m_column {
    display: flex;
    flex-direction: column;
  }

  /* line 148, ../sass/_main.scss */
  .m_align-center {
    align-items: center;
  }

  /* line 152, ../sass/_main.scss */
  .m_align-end {
    align-items: flex-end;
  }

  /* line 156, ../sass/_main.scss */
  .m_justify-center {
    justify-content: center;
  }

  /* line 160, ../sass/_main.scss */
  .m_space_around {
    justify-content: space-around;
  }

  /* line 164, ../sass/_main.scss */
  .m_space_between {
    justify-content: space-between;
  }

  /* line 168, ../sass/_main.scss */
  .m_flex-end {
    justify-content: flex-end;
  }
}
/* line 1, ../sass/_images.scss */
.home {
  background-image: url("../images/bg-home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 9, ../sass/_images.scss */
.image img {
  width: 45vw;
  height: auto;
}

/* line 15, ../sass/_images.scss */
.bg_order {
  background-image: url("../images/order-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
}

/* line 23, ../sass/_images.scss */
.bg_what {
  background-image: url("../images/bg-what.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vw;
}
