.home{
  background-image: url("../images/bg-home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.image{

  img{
    width: 45vw;
    height: auto;
  }
}

.bg_order{
  background-image: url("../images/order-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
}

.bg_what{
  background-image: url("../images/bg-what.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vw;
}
