
@font-face {
  font-family: 'fira_sansbold';
  src: url('../font/firasans-bold-webfont.woff2') format('woff2'),
  url('../font/firasans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fira_sansmedium';
  src: url('../font/firasans-medium-webfont.woff2') format('woff2'),
  url('../font/firasans-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: $light;
  max-width: 100vw;
  overflow-x: hidden;
  color: $dark;
}

p{
  font-size: 0.8rem;
  font-family: Avenir;
}

h1{
  font-family: 'fira_sansbold';
  color: white;
  font-size: 2.5rem;
}

h2{
  font-family: 'fira_sansmedium';
  color: $dark;
  font-size: 1.1em;
}

h3{
  font-family: 'fira_sansmedium';
  color: $dark;
  font-size: 2em;
}

button{
  cursor: pointer;
}

.section{
  margin: 15vh 0;
}

.marge{
  margin-left: 5%;
  margin-right: 5%;
}

.relative{
  position: relative;
}



 /**** Displays ****/

.row{
  display: flex;
  flex-direction: row;
}

.column{
  display: flex;
  flex-direction: column;
}

.align-center{
  align-items: center;
}

.align-end{
  align-items: flex-end;
}

.justify-center{
  justify-content: center;
}

.space_around{
  justify-content: space-around;
}

.space_between{
  justify-content: space-between;
}

.flex-end{
  justify-content: flex-end;
}
  /**** Margin ****/

.mb70{
  margin-bottom: 70px;
}

.mb30{
  margin-bottom: 30px;
}

.mb40{
  margin-bottom: 40px;
}

.mt10{
  margin-top: 10px;
}

.mt20{
  margin-top: 20px;
}

  /**** Padding ***/

.p20{
  padding: 20px;
}


@media screen and (max-width: 480px){

  .m_row{
    display: flex;
    flex-direction: row;
  }

  .m_column{
    display: flex;
    flex-direction: column;
  }

  .m_align-center{
    align-items: center;
  }

  .m_align-end{
    align-items: flex-end;
  }

  .m_justify-center{
    justify-content: center;
  }

  .m_space_around{
    justify-content: space-around;
  }

  .m_space_between{
    justify-content: space-between;
  }

  .m_flex-end{
    justify-content: flex-end;
  }

  .m_none{
    display: none;
  }

}

@media all and (min-width: 481px) and (max-width: 768px) {
}

@media all and (min-width: 769px) and (max-width: 1024px){

}

@media screen and (min-width : 1224px) {

}
